.describe_ {
  .logo_ {
    width: 80%;
  }
  .description_ {
    width: 90%;
    color: #8b6fbd;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 auto 10% auto;
    text-transform: uppercase;
  }
}